.background{
    background-image: url("https://www.trawex.com/trvx-static-asset-files/images/cms-banner.jpg");
    background-repeat: no-repeat;
     background-size: cover;
     height: 600px;
    }
